    
        <td><a href ='#/students/<%= id %>'><%= id %></td></a>
        <td><a href ='#/students/<%= id %>'><%= firstname %></td></a>
        <td><a href ='#/students/<%= id %>'><%= lastname %></td></a>
        <td><a href ='#/students/<%= id %>'><%= email %></td></a>
        <td><a href ='#/students/<%= id %>'><%= doj %></td></a>
    	<td><button class="remove">Delete</button></td>
    



